.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 212, 212);
    width: 300px;
    height: 120px;
    width: 300px;
    
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.phone{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 250px;
}

.country-dropdown{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
}

#phone-input{
    border:none;
    outline: none;
    text-decoration: none;
    height: 30px;
    font-size: large;
    border-left: 0.5px solid rgba(128, 128, 128, 0.527);
}

#country{
    border:none;
    outline: none;
    text-decoration: none;
    height: 30px;
    font-size: large;
}

#phone-input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}